<section class="article-section">
  <div class="container">
    <div class="article-section__title">
      <h2>Грузоперевозки в Минске и Минской области</h2>
    </div>
    <div class="article-section__contents">
      <div class="accordion">
        <div class="accordion__item accordion__item-active">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Что такое грузовое такси и для чего оно нужно?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Грузовое такси служит для перевозки вещей и грузов по принципу от
              двери до двери. Вы заказываете машину на удобное вам время,
              указываете начальный и конечный пункт назначения, а все заботы по
              перевозке груза наша компания берет на себя.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">Как оформить заказ?</div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Оформить заказ можно через диспетчера, позвонив по телефон, также
              вы можете нам написать в удобном для вас мессенджере или в
              социальных сетях. Все номера и ссылки указаны на нашем сайте.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">Нужна ли предоплата?</div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Нет, предоплата не обязательна. Вы можете произвести расчет с
              водителем наличными деньгами в день заказа перед выгрузкой вещей
              из машины. Также вы можете оплатить заказ заранее в офисе
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              С какого момента начинается отсчет времени выполнения заказа?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Да, мы можем разработать сценарий индивидуально под вас.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Может ли отличаться итоговая стоимость от цены указанной на сайте
              или в рекламе?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Итоговая стоимость заказа складывается с учетом времени выполнения
              заказа, характеристик груза, расстояния между адресами и прочих
              факторов. Цена на сайте или в рекламе является, как правило,
              усредненной по аналогичным параметрам, либо указана в чистом виде,
              без учета дополнительных услуг.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Могу ли я поехать вместе со своими вещами?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Да, такая возможность существует. Вы можете сопровождать свои вещи
              на пассажирском сиденье. Количество пассажирских мест Вы можете
              узнать у наших диспетчеров при заказе или на нашем сайте в разделе
              тарифа “Характеристики автомобиля”.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
