<div class="left-sitebar">
  <div class="left-sitebar__widget">
    <div class="left-sitebar__widget__title">
      <h3>Основные тарифы</h3>
    </div>
    <div class="left-sitebar__widget__items">
      <div class="left-sitebar__widget__items__item">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty.webp"
            alt="Iveco"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('tarif_1000', 'option')?>
            руб/час</span
          >
          <span>1000 кг/10м3</span>
        </div>
        <a class="btn" href="/">Подробнее</a>
      </div>
      <div class="left-sitebar__widget__items__item">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty_five.webp"
            alt="Iveco"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('tarif_2000', 'option')?>
            руб/час</span
          >
          <span>2000 кг/10м3</span>
        </div>
        <a class="btn" href="/gruzoperevozka-do-2-tonn/">Подробнее</a>
      </div>
      <div class="left-sitebar__widget__items__item">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/car_thirty.webp"
            alt="Iveco"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('tarif_3000', 'option')?>
            руб/час</span
          >
          <span>3000 кг/10м3</span>
        </div>
        <a class="btn" href="/gruzoperevozka-do-3-tonn/">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="left-sitebar__widget">
    <div class="left-sitebar__widget__title">
      <h3>Тарифы на вывоз мусора</h3>
    </div>
    <div class="left-sitebar__widget__items">
      <div class="left-sitebar__widget__items__item">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty.webp"
            alt="Iveco"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('musor_1000', 'option')?>
            руб/час</span
          >
          <span>до 1000 кг/10м3</span>
        </div>
        <a class="btn" href="/vuvoz-do-1-tonnu/">Подробнее</a>
      </div>
      <div class="left-sitebar__widget__items__item">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty_five.webp"
            alt="Iveco"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('musor_2000', 'option')?>
            руб/час</span
          >
          <span>до 2000 кг/10м3</span>
        </div>
        <a class="btn" href="/vuvoz-do-2-tonnu/">Подробнее</a>
      </div>
      <div class="left-sitebar__widget__items__item">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/car_thirty.webp"
            alt="Iveco"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('musor_3000', 'option')?>
            руб/час</span
          >
          <span>до 3000 кг/10м3</span>
        </div>
        <a class="btn" href="/vuvoz-do-3-tonnu/">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="left-sitebar__widget">
    <div class="left-sitebar__widget__title">
      <h3>Тарифы на вынос мусора</h3>
    </div>
    <div class="left-sitebar__widget__items">
      <div class="left-sitebar__widget__items__item trash">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/loading_trash.webp"
            alt="Загрузка в мешки для мусора"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('pogruzka', 'option')?>
            руб/час</span
          >
          <span>загрузка в мешки и вынос</span>
        </div>
        <a class="btn" href="/zagruzka-musora/">Подробнее</a>
      </div>
      <div class="left-sitebar__widget__items__item trash">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/taking_trash.webp"
            alt="Вынос строительного мусора мусора"
          />
        </div>
        <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
        <div class="left-sitebar__widget__items__item__descr">
          <span
            ><?php the_field('vunos', 'option')?>
            руб/час</span
          >
          <span>вынос мешков</span>
        </div>
        <a class="btn" href="/vunos-musora/">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="left-sitebar__widget">
    <!-- <div class="left-sitebar__widget__title">
        <h3>Тарифы на вынос мусора</h3>
      </div> -->
    <div class="left-sitebar__widget__items">
      <div class="left-sitebar__widget__items__item bags">
        <div class="left-sitebar__widget__items__item__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/bags.webp"
            alt="Мешки для строительного мусора"
          />
        </div>
        <div class="left-sitebar__widget__items__item__contents">
          <div class="left-sitebar__widget__items__item__title">Стоимость</div>
          <div class="left-sitebar__widget__items__item__descr">
            <span
              >от
              <?php the_field('price', 'option')?>
              руб/шт</span
            >
            <span>предоставляем мешки для бытового и строительного мусора</span>
          </div>
        </div>
        <!-- <a class="btn" href="/">Подробнее</a> -->
      </div>
    </div>
  </div>
</div>
