<div class="right-sitebar">
  <div class="right-sitebar__title">
    <h3>Дополнительные услуги</h3>
  </div>
  <div class="right-sitebar__first-widget">
    <div class="right-sitebar__first-widget__price-block">
      <div class="right-sitebar__first-widget__price-block__price">
        <div>
          УСЛУГИ<br />
          ГРУЗЧИКОВ
        </div>
        <div>
          <span><?php the_field('gruzchiki', 'option')?></span> руб/час
        </div>
      </div>
      <div class="right-sitebar__first-widget__price-block__img">
        <img
          src="<?php bloginfo( 'template_url' ); ?>/img/movers.webp"
          alt="Услиги грузчиков"
        />
      </div>
    </div>
    <div class="right-sitebar__first-widget__descr">
      <p>Минимальный заказ: 2 часа</p>
      <p>При безналичном расчёте: 3 часа</p>
    </div>
  </div>
  <div class="right-sitebar__first-widget">
    <div class="right-sitebar__first-widget__price-block">
      <div class="right-sitebar__first-widget__price-block__img reverce">
        <img
          src="<?php bloginfo( 'template_url' ); ?>/img/rigging_works.webp"
          alt="Такелажные работы"
        />
      </div>
      <div class="right-sitebar__first-widget__price-block__price reverce">
        <div>ТАКЕЛАЖНЫЕ РАБОТЫ</div>
        <div>
          <span><?php the_field('takelaj', 'option')?></span> руб/час
        </div>
      </div>
    </div>
    <div class="right-sitebar__first-widget__descr">
      <p>Минимальный заказ: 2 часа</p>
      <p>При безналичном расчёте: 3 часа</p>
    </div>
  </div>
  <div class="right-sitebar__first-widget">
    <div class="right-sitebar__first-widget__price-block">
      <div class="right-sitebar__first-widget__price-block__price">
        <div>
          ПОДЪЕМ<br />
          СТРОЙМАТЕРИАЛОВ<br />
          НА ЭТАЖ
        </div>
        <div><?php the_field('podem', 'option')?></div>
      </div>
      <div class="right-sitebar__first-widget__price-block__img">
        <img
          src="<?php bloginfo( 'template_url' ); ?>/img/lifting_building_materials.webp"
          alt="Подъём строительных материалов на этаж"
        />
      </div>
    </div>
    <div class="right-sitebar__first-widget__descr"></div>
  </div>
  <div class="right-sitebar__first-widget">
    <div class="right-sitebar__first-widget__price-block">
      <div class="right-sitebar__first-widget__price-block__img reverce">
        <img
          src="<?php bloginfo( 'template_url' ); ?>/img/dismantling_works.webp"
          alt="Демонтажные работы"
        />
      </div>
      <div class="right-sitebar__first-widget__price-block__price reverce">
        <div>ДЕМОНТАЖНЫЕ РАБОТЫ</div>
        <div><?php the_field('demontaj', 'option')?></div>
      </div>
    </div>
    <div class="right-sitebar__first-widget__descr"></div>
  </div>
</div>
