header.header {
  .container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    min-height: 120px;
    flex-wrap: wrap;
    .header__logo {
      display: flex;
      align-items: center;
      padding: 12px 2px;
      flex: 1;
      @media (max-width: 440px) {
        padding: 12px 0px;
      }
      img {
        @media (max-width: 330px) {
          width: 125px;
        }
      }
    }
    .working-hours {
      min-width: 236px;
      padding: 0 5px;
      // position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 2;
      img {
        margin-right: 13px;
        @media (max-width: 890px) {
          margin-right: 10px;
          width: calc(38px - 0.21 * 38px);
          height: calc(32px - 0.21 * 32px);
        }
      }
      @media (max-width: 690px) {
        order: 3;
        padding-top: 15px;
      }
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: 300;
          font-size: 13px;
          line-height: 105.9%;
          color: #000000;
          &:nth-child(1) {
            padding-bottom: 2px;
          }
        }
      }

      // &::before {
      //   position: absolute;
      //   top: 50%;
      //   left: -36px;
      //   transform: translate(-50%, -50%);
      //   content: url(../img/clock_icon.webp);
      // }
    }
    .header__contacts {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      flex: 3;
      @media (max-width: 1270px) {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        flex: none;
      }
      .header__tel-numbers {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 5px;
        img {
          margin-right: 13px;
          @media (max-width: 890px) {
            margin-right: 10px;
            width: 30px;
            width: calc(42px - 0.286 * 42px);
            height: calc(42px - 0.286 * 42px);
          }
        }
        img#img_polygon {
          width: 9px;
          height: 6px;
          margin-right: 0px;
        }
        a {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 105.9%;
          color: #000000;
          @media (max-width: 890px) {
            font-size: 15px;
          }
        }
        li > ul.tell-second {
          visibility: hidden;
          position: absolute;
          bottom: -15px;
          right: 0;
          background-color: #fff;
          border-radius: 6px;
          padding: 6px;
          border: 1px solid #a166aa;
          width: 140px;
          @media (max-width: 1270px) {
            bottom: -50px;
            right: 80px;
          }
          @media (max-width: 890px) {
            bottom: -53px;
            right: 58px;
          }
          @media (max-width: 440px) {
            bottom: -50px;
            right: 15px;
          }
          li:nth-child(1) {
            padding-bottom: 5px;
          }
          li a {
            color: #000;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            &:hover {
              color: #ffba58;
              transition: all 0.5s ease-out;
            }
          }
        }
        &:hover {
          img#img_polygon {
            transform: rotate(0.5turn);
            transition: all 0.5s ease-out;
          }
          li > ul {
            visibility: visible;
            transition: all 0.5s ease-out;
          }
        }
        @media (max-width: 340px) {
          padding: 0px;
        }
      }
      .header__mail {
        padding: 0 5px;
        // position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 105.9%;
        color: #000000;
        @media (max-width: 890px) {
          font-size: 15px;
        }
        @media (max-width: 440px) {
          font-size: 12px;
        }
        @media (max-width: 340px) {
          padding: 0px;
        }
        img {
          margin-right: 13px;
          @media (max-width: 890px) {
            margin-right: 10px;
            width: calc(38px - 0.21 * 38px);
            height: calc(38px - 0.21 * 38px);
          }
          @media (max-width: 440px) {
            margin-right: 5px;
            width: calc(38px - 0.47 * 38px);
            height: calc(38px - 0.47 * 38px);
          }
        }
        // &::before {
        //   position: absolute;
        //   top: 50%;
        //   left: -36px;
        //   transform: translate(-50%, -50%);
        //   content: url(../img/mail_icon.webp);
        // }
      }
    }
  }
}
