<section class="main-section">
  <div class="container">
    <div class="left-sitebar">
      <div class="left-sitebar__widget">
        <div class="left-sitebar__widget__title">
          <h3>Основные тарифы</h3>
        </div>
        <div class="left-sitebar__widget__items">
          <div class="left-sitebar__widget__items__item">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty.webp"
                alt="Iveco"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>1000 кг/10м3</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
          <div class="left-sitebar__widget__items__item">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty_five.webp"
                alt="Iveco"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>2000 кг/10м3</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
          <div class="left-sitebar__widget__items__item">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/car_thirty.webp"
                alt="Iveco"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>3000 кг/10м3</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="left-sitebar__widget">
        <div class="left-sitebar__widget__title">
          <h3>Тарифы на вывоз мусора</h3>
        </div>
        <div class="left-sitebar__widget__items">
          <div class="left-sitebar__widget__items__item">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty.webp"
                alt="Iveco"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>до 1000 кг/10м3</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
          <div class="left-sitebar__widget__items__item">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/car_twenty_five.webp"
                alt="Iveco"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>до 2000 кг/10м3</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
          <div class="left-sitebar__widget__items__item">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/car_thirty.webp"
                alt="Iveco"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>до 3000 кг/10м3</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="left-sitebar__widget">
        <div class="left-sitebar__widget__title">
          <h3>Тарифы на вынос мусора</h3>
        </div>
        <div class="left-sitebar__widget__items">
          <div class="left-sitebar__widget__items__item trash">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/loading_trash.webp"
                alt="Загрузка в мешки для мусора"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>загрузка в мешки и вынос</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
          <div class="left-sitebar__widget__items__item trash">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/taking_trash.webp"
                alt="Вынос строительного мусора мусора"
              />
            </div>
            <div class="left-sitebar__widget__items__item__title">ТАРИФ</div>
            <div class="left-sitebar__widget__items__item__descr">
              <span
                ><?php the_field('price_1000')?>
                руб/час</span
              >
              <span>вынос мешков</span>
            </div>
            <a class="btn" href="/">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="left-sitebar__widget">
        <!-- <div class="left-sitebar__widget__title">
          <h3>Тарифы на вынос мусора</h3>
        </div> -->
        <div class="left-sitebar__widget__items">
          <div class="left-sitebar__widget__items__item bags">
            <div class="left-sitebar__widget__items__item__img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/bags.webp"
                alt="Мешки для строительного мусора"
              />
            </div>
            <div class="left-sitebar__widget__items__item__contents">
              <div class="left-sitebar__widget__items__item__title">
                Стоимость
              </div>
              <div class="left-sitebar__widget__items__item__descr">
                <span
                  >от
                  <?php the_field('price_1000')?>
                  руб/шт</span
                >
                <span
                  >предоставляем мешки для бытового и строительного мусора</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="main__contents">
        <div class="main__contents__title"></div>
        <div class="main__contents__descr">
          <div class="main__contents__descr__img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/car_main.webp"
              alt="Грузоперевозки по Минску"
            />
          </div>
          <div class="main__contents__descr__title">
            <span>Тариф</span>
            <span
              ><?php the_field('price_1000')?>
              руб/час</span
            >
          </div>
          <div class="main__contents__descr__item">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/time_icon.webp"
              alt="clock icon"
            />
            <div class="urgent__car__call">
              <span>СРОЧНЫЙ ВЫЗОВ МАШИНЫ</span>
              <span>30 МИНУТ</span>
            </div>
          </div>
          <!-- <div class="main__contents__descr__text">
          </div> -->
        </div>
      </div>
      <div class="main__characteristics">
        <div class="main__characteristics__title">
          <h3>Характеристики автомобиля</h3>
        </div>
        <div class="main__characteristics__items">
          <div class="main__characteristics__items__item">
            <div class="volume">
              <span>3 палета</span>
              <span>9 м2</span>
            </div>
            <div class="main__characteristics__items__item__img">
              <div class="width__value"></div>
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/pallet_three.webp"
                alt="Объём доставки в палетах"
              />
            </div>
          </div>
          <div class="main__characteristics__items__item">
            <div class="table__items">
              <div class="table__items__item">Длина</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">3.0 м</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Ширина</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">1.7 м</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Высота</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">1.7 м</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Объем</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">9 м3</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Грузоподъемность</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">1 000кг</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Пассажирские места</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">2 места</div>
            </div>
          </div>
        </div>
      </div>
      <div class="main__characteristics additional-information">
        <div class="main__characteristics__title">
          <h3>Дополнительная информация</h3>
        </div>
        <div class="main__characteristics__items">
          <div
            class="
              main__characteristics__items__item
              right-additional-information
            "
          >
            <div class="table__items">
              <div class="table__items__item">Подача машины</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">40 руб.</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Минимальный заказ</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">2 часа</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">за пределами Минска</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">1 руб./км</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Работа в ночное время</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">+ 20 руб.</div>
            </div>
          </div>
          <div class="main__characteristics__items__item yellow">
            <div class="table__items">
              <div class="table__items__item">Заказ на 2 ч по городу</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">40 руб.</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Заказ на 3 ч по городу</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">60 руб.</div>
            </div>
            <div class="table__items">
              <div class="table__items__item">Заказ на 4 ч по городу</div>
              <div class="table__items__item"></div>
              <div class="table__items__item">80 руб.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="main__characteristics important-information">
        <div class="main__characteristics__title">
          <h3>Важная информация</h3>
        </div>
        <div class="important-information__items">
          <div class="important-information__items__item">
            <div class="important-information__items__item_img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/location_icon.webp"
                alt="Цены на грузоперевозки"
              />
            </div>
            <div class="important-information__items__item__descr">
              Цены в тарифах актуальны при заказе с адреса на адрес
            </div>
          </div>
          <div class="important-information__items__item">
            <div class="important-information__items__item_img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/callback_icon.webp"
                alt="Закать грузоперевозки"
              />
            </div>
            <div class="important-information__items__item__descr">
              Если в заказе более двух адресов, сообщите об этом диспетеру
            </div>
          </div>
          <div class="important-information__items__item">
            <div class="important-information__items__item_img">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/delivery_icon.webp"
                alt="Быстрая подача машины"
              />
            </div>
            <div class="important-information__items__item__descr">
              Подача машины на адрес осуществляется в течении 60 минут
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sitebar">
      <div class="right-sitebar__title">
        <h3>Дополнительные услуги</h3>
      </div>
      <div class="right-sitebar__first-widget">
        <div class="right-sitebar__first-widget__price-block">
          <div class="right-sitebar__first-widget__price-block__price">
            <div>
              УСЛУГИ<br />
              ГРУЗЧИКОВ
            </div>
            <div>
              <span><?php the_field('price_1000')?></span> руб/час
            </div>
          </div>
          <div class="right-sitebar__first-widget__price-block__img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/movers.webp"
              alt="Услиги грузчиков"
            />
          </div>
        </div>
        <div class="right-sitebar__first-widget__descr">
          <p>Минимальный заказ: 2 часа</p>
          <p>При безналичном расчёте: 3 часа</p>
        </div>
      </div>
      <div class="right-sitebar__first-widget">
        <div class="right-sitebar__first-widget__price-block">
          <div class="right-sitebar__first-widget__price-block__img reverce">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/rigging_works.webp"
              alt="Такелажные работы"
            />
          </div>
          <div class="right-sitebar__first-widget__price-block__price reverce">
            <div>ТАКЕЛАЖНЫЕ РАБОТЫ</div>
            <div>
              <span><?php the_field('price_1000')?></span> руб/час
            </div>
          </div>
        </div>
        <div class="right-sitebar__first-widget__descr">
          <p>Минимальный заказ: 2 часа</p>
          <p>При безналичном расчёте: 3 часа</p>
        </div>
      </div>
      <div class="right-sitebar__first-widget">
        <div class="right-sitebar__first-widget__price-block">
          <div class="right-sitebar__first-widget__price-block__price">
            <div>
              ПОДЪЕМ<br />
              СТРОЙМАТЕРИАЛОВ<br />
              НА ЭТАЖ
            </div>
            <div>Сдельная оплата</div>
          </div>
          <div class="right-sitebar__first-widget__price-block__img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/lifting_building_materials.webp"
              alt="Подъём строительных материалов на этаж"
            />
          </div>
        </div>
        <div class="right-sitebar__first-widget__descr"></div>
      </div>
      <div class="right-sitebar__first-widget">
        <div class="right-sitebar__first-widget__price-block">
          <div class="right-sitebar__first-widget__price-block__img reverce">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/dismantling_works.webp"
              alt="Демонтажные работы"
            />
          </div>
          <div class="right-sitebar__first-widget__price-block__price reverce">
            <div>ДЕМОНТАЖНЫЕ РАБОТЫ</div>
            <div>Сдельная оплата</div>
          </div>
        </div>
        <div class="right-sitebar__first-widget__descr"></div>
      </div>
    </div>
  </div>
</section>
<section class="article-section">
  <div class="container">
    <div class="article-section__title">
      <h2><?php the_field('title_content')?></h2>
    </div>
    <div class="article-section__contents">
      <!-- Accordion -->
      <div class="accordion">
        <div class="accordion__item accordion__item-active">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Что такое грузовое такси и для чего оно нужно?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Грузовое такси служит для перевозки вещей и грузов по принципу от
              двери до двери. Вы заказываете машину на удобное вам время,
              указываете начальный и конечный пункт назначения, а все заботы по
              перевозке груза наша компания берет на себя.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">Как оформить заказ?</div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Оформить заказ можно через диспетчера, позвонив по телефон, также
              вы можете нам написать в удобном для вас мессенджере или в
              социальных сетях. Все номера и ссылки указаны на нашем сайте.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">Нужна ли предоплата?</div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Нет, предоплата не обязательна. Вы можете произвести расчет с
              водителем наличными деньгами в день заказа перед выгрузкой вещей
              из машины. Также вы можете оплатить заказ заранее в офисе
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              С какого момента начинается отсчет времени выполнения заказа?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Да, мы можем разработать сценарий индивидуально под вас.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Может ли отличаться итоговая стоимость от цены указанной на сайте
              или в рекламе?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Итоговая стоимость заказа складывается с учетом времени выполнения
              заказа, характеристик груза, расстояния между адресами и прочих
              факторов. Цена на сайте или в рекламе является, как правило,
              усредненной по аналогичным параметрам, либо указана в чистом виде,
              без учета дополнительных услуг.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Могу ли я поехать вместе со своими вещами?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Да, такая возможность существует. Вы можете сопровождать свои вещи
              на пассажирском сиденье. Количество пассажирских мест Вы можете
              узнать у наших диспетчеров при заказе или на нашем сайте в разделе
              тарифа “Характеристики автомобиля”.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
